/* font style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* banner section design starts here */
.bg-color {
    background-color: rgba(229, 84, 115, 0.1);
    max-width: 1536px;
    height: 680px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.header-content {
    max-width: 560px;
}

.header-title {
    color: rgb(39, 39, 39);
    font-size: 4rem;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
}

.primary-button {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 40px;
    color: white;
    margin-top: 25px;
}

.banner-image {
    max-width: 500px;
}

/* banner section design ends here */
.Featured {
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
}

.featured-text {
    /* border: 1px solid brown; */
    text-align: center;
    margin-bottom: 35px;
}

.featured-image {
    /* border:1px solid yellow; */
    display: flex;
    justify-content: space-evenly;

}

.image-container {
    max-width: 460px;
    /* height: 480px; */
    /* border: 1px solid aqua; */
    text-align: center;
}

.image-container img {
    max-width: 300px;
    height: 450px;
}

.about {
    text-decoration: underline;
    color: #272727;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
}
.support{
    width: 90%;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    margin-top: 150px;
    padding: 70px 150px;
}
.support-container{ 
    display: flex;
    justify-content:space-around ;
}

.support-content{
    text-align: center;
}
.icon{
    margin-bottom: 20px;
}
.support-description{
    color: rgba(39, 39, 39, 0.8);
    font-weight: 700;
    font-size: 1rem;
}




/* responsive design */
@media screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }

    .bg-color {
        height: 100%;
    }

    .featured-image {
        flex-direction: column;
        gap: 10px;
    }

    .Featured-description {
        text-align: justify;
        margin-top: 10px;
    }

    .Featured {
        margin-top: 50px;
    }
    .support-container{
        flex-direction: column;
        gap: 30px;
    }
    .support-description{
        text-align: left;
    }
}

/* Responsive design for tablet */
@media screen and (min-width: 577px) and (max-width:992px) {
    .header-container {
        flex-direction: column-reverse;
    }

    .bg-color {
        height: 100%;
    }

    .header-content {
        margin-top: 30px;
    }
}